@mixin block {
	width: 417px;
	height: 315px;
	border-radius: 15px;
	background-color: black;
	padding: 1rem;
	display: flex;
	transition: 0.5s all;
	flex-direction: column;
}
.main {
	padding: 2rem;
	display: flex;
	flex-direction: column;

	h1 {
		font-weight: bold;
		font-size: 2rem;
	}
}
.block_1 {
	width: 100px;
	height: 100px;
	background-color: black;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
	.blocks {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 2rem;
		gap: 1rem;
		.block_1 {
			display: flex;
			justify-content: space-between;
			padding: 5rem;
			align-items: center;
			background-color: #ffaa41;
			width: 80rem;
			height: 150px;
			border-radius: 15px;
			h1 {
				width: 10rem;
				text-align: center;
				font-size: 2rem;
			}
			.block_1_text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				h1 {
					width: 22rem;
					font-weight: 400;
				}
				p {
					width: 23rem;
				}
			}
			button {
				width: 200px;
				height: 60px;
				border: 1px solid black;
				border-radius: 10px;
				transition: 0.5s all;
				&:hover {
					box-shadow: 0px 0px 11px 5px #7b95ec;
					background-color: #7b95ec;
					color: white;
					border: none;
				}
			}
		}
		.block_2 {
			@include block;
			background-color: #ffaa41;
		}
		.block_3 {
			@include block;
			background-color: #c6eeff;
		}
		.block_4 {
			@include block;
			background-color: #ddddff;
		}
		.block_5 {
			@include block;
			padding: 0;
			width: 53rem;
			height: 251px;
			flex-direction: row;

			background-color: #7b95ec;
			.block_text {
				color: white;
				padding: 1rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 1rem;
			}
		}
		.block_6 {
			@include block;
			padding: 2rem;
			color: white;
			gap: 1rem;
			height: 251px;
			background-color: #3a7e78d5;
		}
	}
}
.form {
	width: 51rem;
	height: 16rem;
	border-radius: 45px;
	box-shadow: 0px 0px 20px 2px gray;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
	form {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 1rem;
		input {
			background-color: #dcdfe6;
			border-radius: 5px;
			width: 200px;
			height: 50px;
			outline: none;
			padding: 10px;
			transition: 0.5s all;
			&:focus {
				box-shadow: 0px 0px 11px 7px#ddddff;
				background-color: inherit;
				color: black;
			}
		}
		button {
			width: 200px;
			height: 50px;
			background-color: #f7941e;
			color: white;
			border-radius: 6px;
			transition: 0.5s all;
			&:hover {
				box-shadow: 0px 0px 11px 5px #ffae4d;
			}
		}
	}
}
