
.main {
	padding: 2rem;
	display: flex;
	flex-direction: column;

	h1 {
		font-weight: bold;
		font-size: 2rem;
	}
}
.container{
  display: flex;
  margin: 4rem;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  .block{
    width: 375px;
    height: 28rem;
    border-radius: 18px;
    box-shadow:1px 1px 9px 0px gray;
    .block_text{
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap:5px;
    }
  }
  .form {
	width: 51rem;
	height: 16rem;
	border-radius: 45px;
	box-shadow: 0px 0px 20px 2px gray;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
	form {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 1rem;
		input {
			background-color: #dcdfe6;
			border-radius: 5px;
			width: 200px;
			height: 50px;
			outline: none;
			padding: 10px;
			transition: 0.5s all;
			&:focus {
				box-shadow: 0px 0px 11px 7px#ddddff;
				background-color: inherit;
				color: black;
			}
		}
		button {
			width: 200px;
			height: 50px;
			background-color: #f7941e;
			color: white;
			border-radius: 6px;
			transition: 0.5s all;
			&:hover {
				box-shadow: 0px 0px 11px 5px #ffae4d;
			}
		}
	}
}
}