.container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	margin: 1.9rem;
	gap: 5rem;
	.btn_cont {
		display: flex;
		flex-wrap: wrap;
		width: 43rem;
		gap: 1rem;
		button {
			width: 150px;
			height: 54px;
			box-shadow: 1px 1px 11px 1px #dfcba8;
			border-radius: 5px;
			transition: 0.5s all;
			&:hover {
				transform: scale(1.1);
				box-shadow: 1px 1px 11px 1px #aed8e7;
			}
		}
	}
}
.container_2 {
	display: flex;
	justify-content: center;
}
.container_3 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	h1 {
		width: 30rem;
		font-weight: bold;
	}
	.table {
		display: flex;
		gap: 3rem;
		p {
			font-size: 7rem;
			font-weight: bold;
			background: -webkit-linear-gradient(
				20deg,
				#f19420,
				#e58918,
				#27aae1,
				#2ba9dc
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	.label {
		display: flex;
		gap: 10rem;
		width: 39rem;
		font-weight: bold;
	}
	.blocks {
		display: inline-flex;
		flex-flow:  wrap;
    flex-basis: 100%;
		justify-content: center;
		gap: 1rem;
    padding: 3rem;
		.block_1 {
			display: flex;
			justify-content: space-between;
			padding: 1rem;
			align-items: center;
			background-color: #ffaa41;
			width: 55rem;
			height: 150px;
			border-radius: 15px;
			h1 {
				width: 10rem;
				text-align: center;
				font-size: 2rem;
			}
			.block_1_text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				h1 {
					width: 22rem;
					font-weight: 400;
				}
				p {
					width: 23rem;
				}
			}
			button {
				width: 200px;
				height: 60px;
				border: 1px solid black;
				border-radius: 10px;
				transition: 0.5s all;
				&:hover {
					background-color: #27a9e18d;
					color: white;
				}
			}
		}
		.block_2 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #c5ddff;
			width: 32rem;
			height: 10rem;
      padding: 1rem;
			border-radius: 15px;
      box-shadow: 0px 0px 4px 4px  #c5ddff;
			h1 {
				width: 10rem;
				text-align: center;
				font-size: 2rem;
			}
			.block_2_text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				h1 {
					width: 22rem;
					font-weight: 400;
				}
				p {
					width: 23rem;
				}
			}
			button {
				width: 200px;
				height: 60px;
				border: 1px solid black;
				border-radius: 10px;
				transition: 0.5s all;
				&:hover {
					background-color: #27a9e18d;
					color: white;
				}
			}
		}
		.block_3 {
			display: flex;
      justify-content: center;
			align-items: center;
      flex-direction: column;
			background-color: #b8efcf;
			width: 165px;
      gap: 1.3rem;
			height: 160px;
			border-radius: 10px;
      box-shadow: 0px 0px 4px 4px #b8efcf;
		}
    .block_4 {
		display: flex;
      justify-content: center;
			align-items: center;
      flex-direction: column;
			background-color: #f0bad3;
			width: 165px;
      gap: 1.3rem;
			height: 160px;
			border-radius: 10px;
       box-shadow: 0px 0px 4px 4px #f0bad3;
		}
	}

}
.reviews{
	background-color: #00093c;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	gap:1rem;
	h1{
		color: white;
		font-size: 2rem;
		font-weight: bold;
	}
	.blocks{
		display: flex;
		gap: 2rem;
		.block{
			width: 18rem;
    	height: 25rem;
			border-radius: 10px;
			background-color: white;
			padding: 1rem;
			gap: 1rem;
			display: flex;
			flex-wrap: wrap;
			.title{
				display: flex;
				justify-content: flex-start;
				gap: 10px;
				align-content: flex-start;
    		align-items: center;
				flex-wrap: wrap;
				flex-direction: row;
				p{
					font-weight: bold;
				}
			}
			h1{
				color: black;
				font-size: 1rem;
			}
		}
	}
}
.info{
	display: flex;
	flex-direction: column;
  align-items: center;
	gap: 3rem;
	height: 40rem;
	padding: 2rem;
	.content{
		display: flex;
		align-items: center;
		gap: 4rem;
		.block{
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
		p{
		width: 10rem;
	}
	}
	h1{
		font-size: 1.3rem;
		font-weight: bold;
	}
	.form{
		width: 51rem;
    height: 16rem;
		border-radius: 45px;
		box-shadow: 0px 0px 20px 2px gray;
		display: flex;
		align-items: center;
		padding: 2rem;
		gap: 2rem;
		form{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 1rem;
			input{
				 background-color: #dcdfe6;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    outline: none;
    padding: 10px;
    transition: 0.5s all;
    &:focus{
     box-shadow:0px 0px 11px 7px#ddddff;
     background-color: inherit;
     color: black;
			}

		}
		 button{
      width: 200px;
      height: 50px;
      background-color: #f7941e;
      color: white;
      border-radius: 6px;
      transition: 0.5s all;
      &:hover{
        box-shadow: 0px 0px 11px 5px #FFAE4D;
      }
		}
		}
	}
}
